# <center><u>Salary Data SVM Solutions</u>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
sal_train=pd.read_csv('SalaryData_Train(1).csv')
sal_test=pd.read_csv('SalaryData_Test(1).csv')
sal_train.columns
sal_test.columns
string_col=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

### EDA:

In [8]:
sal_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  int32
 2   education      30161 non-null  int32
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  int32
 5   occupation     30161 non-null  int32
 6   relationship   30161 non-null  int32
 7   race           30161 non-null  int32
 8   sex            30161 non-null  int32
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  int32
 13  Salary         30161 non-null  object
dtypes: int32(8), int64(5), object(1)
memory usage: 2.3+ MB

In [9]:
sal_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  int32
 2   education      15060 non-null  int32
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  int32
 5   occupation     15060 non-null  int32
 6   relationship   15060 non-null  int32
 7   race           15060 non-null  int32
 8   sex            15060 non-null  int32
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  int32
 13  Salary         15060 non-null  object
dtypes: int32(8), int64(5), object(1)
memory usage: 1.1+ MB

In [10]:
sal_train.describe

<bound method NDFrame.describe of        age  workclass  education  educationno  maritalstatus  occupation  \
0       39          5          9           13              4           0
1       50          4          9           13              2           3
2       38          2         11            9              0           5
3       53          2          1            7              2           5
4       28          2          9           13              2           9
...    ...        ...        ...          ...            ...         ...
30156   27          2          7           12              2          12
30157   40          2         11            9              2           6
30158   58          2         11            9              6           0
30159   22          2         11            9              4           0
30160   52          3         11            9              2           3

       relationship  race  sex  capitalgain  capitalloss  hoursperweek  \
0                 1     4    1         2174            0            40
1                 0     4    1            0            0            13
2                 1     4    1            0            0            40
3                 0     2    1            0            0            40
4                 5     2    0            0            0            40
...             ...   ...  ...          ...          ...           ...
30156             5     4    0            0            0            38
30157             0     4    1            0            0            40
30158             4     4    0            0            0            40
30159             3     4    1            0            0            20
30160             5     4    0        15024            0            40

       native  Salary
0          37   <=50K
1          37   <=50K
2          37   <=50K
3          37   <=50K
4           4   <=50K
...       ...     ...
30156      37   <=50K
30157      37    >50K
30158      37   <=50K
30159      37   <=50K
30160      37    >50K

[30161 rows x 14 columns]>

In [11]:
sal_test.describe

<bound method NDFrame.describe of        age  workclass  education  educationno  maritalstatus  occupation  \
0       25          2          1            7              4           6
1       38          2         11            9              2           4
2       28          1          7           12              2          10
3       44          2         15           10              2           6
4       34          2          0            6              4           7
...    ...        ...        ...          ...            ...         ...
15055   33          2          9           13              4           9
15056   39          2          9           13              0           9
15057   38          2          9           13              2           9
15058   44          2          9           13              0           0
15059   35          3          9           13              2           3

       relationship  race  sex  capitalgain  capitalloss  hoursperweek  \
0                 3     2    1            0            0            40
1                 0     4    1            0            0            50
2                 0     4    1            0            0            40
3                 0     2    1         7688            0            40
4                 1     4    1            0            0            30
...             ...   ...  ...          ...          ...           ...
15055             3     4    1            0            0            40
15056             1     4    0            0            0            36
15057             0     4    1            0            0            50
15058             3     1    1         5455            0            40
15059             0     4    1            0            0            60

       native  Salary
0          37   <=50K
1          37   <=50K
2          37    >50K
3          37    >50K
4          37   <=50K
...       ...     ...
15055      37   <=50K
15056      37   <=50K
15057      37   <=50K
15058      37   <=50K
15059      37    >50K

[15060 rows x 14 columns]>

In [12]:
#Finding the special characters in the data frame 
sal_train.isin(['?']).sum(axis=0)

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [13]:
#Finding the special characters in the data frame 
sal_test.isin(['?']).sum(axis=0)

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [14]:
print(sal_train[0:5])

   age  workclass  education  educationno  maritalstatus  occupation  \
0   39          5          9           13              4           0
1   50          4          9           13              2           3
2   38          2         11            9              0           5
3   53          2          1            7              2           5
4   28          2          9           13              2           9

   relationship  race  sex  capitalgain  capitalloss  hoursperweek  native  \
0             1     4    1         2174            0            40      37
1             0     4    1            0            0            13      37
2             1     4    1            0            0            40      37
3             0     2    1            0            0            40      37
4             5     2    0            0            0            40       4

   Salary
0   <=50K
1   <=50K
2   <=50K
3   <=50K
4   <=50K

## Data Preprocessing:

### Exploring Categorical Variables:

In [17]:
# find categorical variables

categorical = [var for var in sal_train.columns if sal_train[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 1 categorical variables

The categorical variables are :

 ['Salary']

In [18]:
# view the categorical variables

sal_train[categorical].head()

   Salary
0   <=50K
1   <=50K
2   <=50K
3   <=50K
4   <=50K

In [19]:
# check missing values in categorical variables
sal_train[categorical].isnull().sum()

Salary    0
dtype: int64

In [21]:
# find numerical variables

numerical = [var for var in sal_train.columns if sal_train[var].dtype!='O']

print('There are {} numerical variables\n'.format(len(numerical)))

print('The numerical variables are :', numerical)

There are 13 numerical variables

The numerical variables are : ['age', 'workclass', 'education', 'educationno', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'native']

In [22]:
# view the numerical variables

sal_train[numerical].head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,13,4,0,1,4,1,2174,0,40,37
1,50,4,9,13,2,3,0,4,1,0,0,13,37
2,38,2,11,9,0,5,1,4,1,0,0,40,37
3,53,2,1,7,2,5,0,2,1,0,0,40,37
4,28,2,9,13,2,9,5,2,0,0,0,40,4

In [23]:
# check missing values in numerical variables

sal_train[numerical].isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
dtype: int64

In [3]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in string_col:
    sal_train[i]=label_encoder.fit_transform(sal_train[i])
    sal_test[i]=label_encoder.fit_transform(sal_test[i])

### Train-Test-Split:

In [4]:
train_x=sal_train.iloc[0:500,0:13]
train_y=sal_train.iloc[0:500,13]
test_x=sal_test.iloc[0:300,0:13]
test_y=sal_test.iloc[0:300,13]

### Model Preparing:

In [5]:
#SVM Classification using kernels: linear,poly,rbf
from sklearn.svm import SVC

#kernel=linear
model_linear=SVC(kernel='linear')
model_linear.fit(train_x,train_y)
train_pred_lin=model_linear.predict(train_x)
test_pred_lin=model_linear.predict(test_x)
train_lin_acc=np.mean(train_pred_lin==train_y)
test_lin_acc=np.mean(test_pred_lin==test_y)
train_lin_acc
test_lin_acc

0.8166666666666667

In [6]:
#kernel=poly
model_poly=SVC(kernel='poly')
model_poly.fit(train_x,train_y)
train_pred_poly=model_poly.predict(train_x)
test_pred_poly=model_poly.predict(test_x)
train_poly_acc=np.mean(train_pred_poly==train_y)
test_poly_acc=np.mean(test_pred_poly==test_y)
train_poly_acc
test_poly_acc

0.8033333333333333

In [7]:
#kernel=rbf
model_rbf=SVC(kernel='rbf')
model_rbf.fit(train_x,train_y)
train_pred_rbf=model_rbf.predict(train_x)
test_pred_rbf=model_rbf.predict(test_x)
train_rbf_acc=np.mean(train_pred_rbf==train_y)
test_rbf_acc=np.mean(test_pred_rbf==test_y)
train_rbf_acc
test_rbf_acc

0.8033333333333333